/*
* @Author: fjz
* @Date:   2018-08-06 16:46:45
* @Last Modified by:   fjz
* @Last Modified time: 2018-08-06 17:38:10
*/
.h5_component {
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
}