/*
* @Author: fjz
* @Date:   2018-08-06 18:57:49
* @Last Modified by:   fjz
* @Last Modified time: 2018-08-08 16:01:04
*/

.h5_page {

	height: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
}
